@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

.gameCard {
	border-radius: 20px;
}

.cholo {
	position: relative;
}

.gameImage {
	object-fit: cover;
	border-radius: 30px;
	max-width: 100%;
	height: 400px;
}

.gamePegi {
	position: absolute;
	bottom: 6%;
	left: 6%;
	width: 60px;
}

.gameInfo {
	font-weight: 500;
}

.gameShortScreenshot {
	object-fit: cover;
}

.gameShortScreenshot:hover {
	-webkit-transition: 0.3s ease-in-out;
	filter: contrast(80%);
}

.gameModaleImage {
}

.modal-xl.modal {
}
