.gameCard:hover {
	-webkit-transition: 0.3s ease-in-out;
	filter: contrast(80%) !important;
}

.gameCard {
	position: relative;
	min-height: 20vh;
}
.gameKey {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.gameKey:hover {
	cursor: pointer;
}
